.radio-group{
    display: inline-block;
    margin: 5px auto 0 auto;
}

.radio-group .button{
    background-color: #fff;
    padding: 5px;
    border: none;
}

.radio-group .button:focus{
    background-color: #dbdbdb;
    color: #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.radio-group .radio__box{
    margin: 0 10px 0 5px;
}

.radio-body .radio-group .radio{
    padding: 5px 0;
    display: inline-block;
}
