.comment .image{
    margin: 20px;
}

.comment .table__col{
    padding-bottom: 20px;
    border-bottom: 1px solid #a7a7a7;
}

.comment .table__row:last-child{
    flex-grow: 2;
}

.comment .text_type_heading-medium{
    font-weight: normal;
}
