.layout__right .lego__body{
    margin: 0 10px 10px 10px;
}

.lego__body .radio-body{
    border: 1px solid #a7a7a7;
}

.lego__body .radio-head{
    margin: 0 10px;
}

.lego__body .radio-head .button{
    color: #00bfff;
}
