.article_type_note{
    padding: 20px;
}

.article_type_note .lego{
    border-radius: 5px;
}

.article_type_note .layout__right{
    flex-grow: 2;
}

.article_type_note .layout__left{
    flex-grow: 3;
}

.article_type_note .input__control{
    width: calc(100% - 20px);
}

.article_type_note .lego__bottom .button_type_small{
    float: right;
}

.article_type_note .text_type_heading-medium{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #cecece;
}

.article_type_note .layout__left .lego{
    padding: 0 20px 10px 20px;
}

.article_type_note .layout__right .inline span{
    margin-right: 5px;
}
