.activity{
    position: relative;
    width: 100%;
    display: block;
    margin: 0 20px 20px 0;
    border: 1px solid #000;
    background-color: #fff;
}

.activity > *{
    padding: 10px 20px;
}

.activity_open_yes{
    height: auto;
}

.activity_open_no{
    height: 35px;
    overflow: hidden;
}
