.control-group .button_theme_islands.button_size_m{
    font-size: 18px;
    line-height: 31px;
    color: #00bfff;
}

.control-group .button_theme_islands.button_size_m.button_focused{
    border: none;
    color: #000;
    font-weight: bold;
}

.control-group .button_theme_islands.button_size_m.button_hovered span{
    text-decoration: underline;
}
