.table__row_theme_turquoise .text{
    padding: 10px 0;
}

.table__row_theme_turquoise .text_type_heading{
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}

.table__row_theme_turquoise .text:before{
    font-size: 18px;
}

.table__row_theme_turquoise .text a,
.table__row_theme_turquoise .text a:active{
    text-decoration: none;
    color: #00bfff;
}
