.article{
    position: fixed;
    top: 35px;
    bottom: 0;
    right: 0;
    left: 160px;
    overflow: auto;
    padding: 25px 0 25px 20px;
    background-color: #f1f1f1;
}

.article .layout__left .lego__body .inline{
    width: 100%;
    background-color: #dbdbdb;
}
