.table__row{
    flex-grow: 1;
}

.table__row .link{
    padding: 10px 0;
    display: block;
    color: #00bfff;
}

.table__row .link:before{
    color: #777;
    margin-right: 10px;
}

.table__row:first-child .link{
    display: inline-block;
    padding: 0 5px;
}
