.table__row{
    flex-grow: 1;
}

.table__row *[class*='link_fa-icon']{
    padding: 10px 0;
    display: block;
    color: #00bfff;
}

.table__row .link:before{
    color: #777;
    margin-right: 10px;
}

.table__row .text_type_heading-medium{
    color: #000;
    font-weight: bold;
}

.comment .table__row:last-child{
    flex-grow: 2;
}

.lego .table__row{
    padding: 10px 20px;
}

