.button{
    font-size: 16px;
    background-color: #00bfff;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
}

.button:hover{
    cursor: pointer;
    background-color: #00a6de;
}
