.menu_type_top{
    padding: 5px;
}

.menu_type_top .menu__menu-item{
    height: 16px;
    padding: 4px 10px;
    display: inline-block;
}

.menu_type_top *[class*='fa-icon']:after,
.menu_type_top *[class*='fa-icon']:before{
    font-size: 18px;
    margin: 0 5px;
}

.menu_type_top .link_hovered{
    color: #00bfff;
}

.menu-item .link_fa-icon_user{
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 10px;
}
