.comments{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px 25px 0;
}

.comments .select{
    margin-right: 15px;
}

.comments__layout > *{
    margin: 25px 50px 10px 0;
}

.comments .layout .button_theme_grey{
    padding: 2px 15px;
    line-height: 21px;
    background-color: #fff;
    border: 1px solid #a7a7a7;
}

.comments .layout .button_theme_grey:hover{
    background-color: #efefef;
}
