.radio-group{
    display: inline-block;
    margin: 5px auto 0 auto;
}

.radio-group .button{
    background-color: #fff;
    padding: 5px;
    border: none;
}

.radio-group .button_theme_grey.button_checked{
    background-color: #dbdbdb;
    color: #000;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.radio-group .radio__box{
    margin: 0 10px 0 5px;
}

.radio-body .radio-group .radio{
    padding: 5px 0;
    display: inline-block;
}
