.edit__formating{
    padding: 5px;
    background-color: #dfdfdf;
    border: 1px solid #a7a7a7;
    border-bottom: none;
}

.edit__formating .select{
    margin: 5px 10px 0 0;
    width: 175px;
}

.edit__formating .select .button{
    padding: 2px 0;
}

.edit__formating .select .button.button_theme_islands.button_size_s{
    line-height: 19px;
}

.edit__formating .button{
    padding: 2px 10px 2px 15px;
    margin-right: 5px;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #d7d7d7;
}

.edit__formating .button:hover{
    background-color: #e8e8e8;
    cursor: pointer;
}

.edit__formating .button_type_delim{
    margin-right: 15px;
}
