.header-input{
    padding: 0 20px 50px 0;
    font-size: 14px;
}

.header-input .input {
    display: block;
    margin-bottom: 5px;
}

.header-input .text{
    font-weight: bold;
}

.header-input .link{
    margin: 0 10px 0 5px;
    color: #a7a7a7;
}

.header-input .link:hover{
    color: #00bfff;
}

.header-input .button{
    border: 1px solid #a7a7a7;
    background-color: #fff;
    font-size: 12px;
}

.header-input .button:hover{
    background-color: #efefef;
}
