.menu{
    background-color: #d3d3d3;
    min-height: 27px;
    font-size: 15px;
    font-family: Aerial, sans-serif;
    text-transform: capitalize;
    display: inline-block;
    color: #000;
}

.menu__menu-item{
    display: inline-block;
    border-right: 1px solid #696969;
    padding: 5px 0;
}

.menu__menu-item .link{
    padding: 5px 15px;
}

.menu__menu-item .text{
    display: inline-block;
    padding: 0 10px;
}
