.layout__left_type_bookmarks{
    width: calc(65% - 20px);
    float: left;
    margin-right: 20px;
}

.layout__left_type_bookmarks .text_type_heading{
    font-style: italic;
    color: #565656;
}

.layout__left_type_bookmarks .text_type_heading:before{
    font-style: normal;
    margin-right: 10px;
}
