.dual-menu{
    background-color: #d3d3d3;
    width: 100%;
    min-height: 27px;
}

.dual-menu .menu_type_left{
    float: left;
}

.dual-menu .menu_type_left .link_hovered {
    background-color: #fff;
}

.dual-menu .menu_type_left .link{
    text-decoration: none;
    color: #000;
}

.dual-menu .menu_type_right{
    float: right;
    font-size: 12px;
}

.dual-menu .menu_type_right .menu__menu-item{
    border: none;
}

.dual-menu .menu_type_right .image{
    vertical-align: middle;
    width: 15px;
    height: 15px;
}

.dual-menu .menu_type_right .link,
.dual-menu .menu_type_right .link_activated
{
    color: #0000ff;
    text-decoration: none;
}
