.lego{
    display: block;
    margin-bottom: 20px;
    border: 1px solid #000;
    background-color: #fff;
}

.lego .text_type_heading-medium{
    width: calc(100% - 40px);
    border-bottom: 1px solid #a7a7a7;
    display: inline-block;
    padding: 10px 20px;
}

.lego .table__row{
    padding: 10px 20px;
}

.lego .button_type_medium{
    margin: 10px 20px;
}

.lego .input__control{
    width: calc(100% - 50px);
    margin: 10px 20px;
}

.lego .text:after{
    float: right;
}

.article_type_note .layout__left .lego{
    margin-top: 122px;
}
