.layout{
    height: 60px;
    background-color: #00cbca;
    color: #fff;
    font-size: 26px;
    font-family: Verdana, sans-serif;
}

.layout__right{
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 20px;
}

.layout__right > *{
    display: inline-block;
    vertical-align: top;
}

.layout__left{
    height: 35px;
    font-weight: bold;
    padding: 12px 45px;
}

.layout__cmsname{
    padding: 8px 0;
}
