.lego_type_edit{
    margin-top: 100px;
    border: none;
    background-color: inherit;
}

.lego_type_edit .inline{
    padding: 0 10px 5px 10px;
}

.lego_type_edit .inline .text{
    margin-right: 20px;
}

.lego_type_edit .inline *[class*='fa-icon']{
    font-size: 18px;
    color: #000;
}
