.edit__head{
    padding-left: 15px;
}

.edit__head .button{
    height: 32px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #a7a7a7;
    float: right;
    background-color: #fff;
}

.edit__head .button.button_hovered{
    background-color: #efefef;
    cursor: pointer;
}

.edit__head .button.button_focused{
    background-color: #efefef;
    color: #00bfff;
}

.edit__head .control-group .button_theme_islands.button_hovered .button__text{
    text-decoration: none;
}

.edit__head .text,
.edit__head .link{
    margin: 8px 10px 5px 0;
    display: inline-block;
}

.edit__head .link{
    vertical-align: bottom;
    color: #979797;
}

.edit__head .link:hover{
    cursor: pointer;
}
