.template{
    border: 1px solid #a9a9a9;
    margin-bottom: 20px;
    height: auto;
    background-color: #fff;
}

.template .table__row{
    vertical-align: top;
    width: calc(50% - 60px);
    padding: 5px 30px;
}

.template .textarea{
    font: 16px Aerial, Helvetica, sans-serif;
    outline: none;
    margin: 10px;
    height: 100px;
}

.template .input__control{
    font-size: 17px;
}

.template .input__control,
.template .textarea{
    width: calc(100% - 35px);
    padding: 5px;
}
